<ion-header>
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Buscador de Universidades
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>
        Aplicação desenvolvida utilizando
        Ionic, Angular e TypeScript.
      </p>

      <p>
        O sistema consome a API pública
        Hipolabs Universities API,
        permitindo pesquisar universidades
        por país, salvar favoritos,
        consultar histórico de pesquisas
        e visualizar estatísticas.
      </p>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Desenvolvedor
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>
        Nome: Alexandre Paschoal
      </p>

      <p>
        Curso: Análise e Desenvolvimento de Sistemas
      </p>

      <p>
        Disciplina: Desenvolvimento Mobile
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>