<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"> </ion-back-button>
    </ion-buttons>

    <ion-title> 🕒 Histórico </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-header">
    <p class="subtitle">Pesquisas realizadas</p>

    <h1>
      Seu
      <span>histórico</span>
    </h1>
  </div>

  <ion-list *ngIf="history.length">
    <ion-card *ngFor="let item of history" class="history-card">
      <ion-card-content>
        <div class="card-header">
          <div>
            <h2>{{ item.country }}</h2>

            <p>{{ item.total }} universidades encontradas</p>
          </div>
        </div>

        <div class="date">{{ item.date }}</div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-button
    *ngIf="history.length"
    expand="block"
    fill="outline"
    color="danger"
    class="clear-history-btn"
    (click)="clearHistory()"
  >
    <ion-icon name="trash-outline" slot="start"> </ion-icon>

    Limpar histórico
  </ion-button>

  <div class="empty-state" *ngIf="history.length === 0">
    <h2>Nenhuma pesquisa encontrada</h2>

    <p>Faça uma busca para criar seu histórico.</p>
  </div>
</ion-content>
