<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>
      <h1>
        <span style="color: #fff">🎓 Angular</span>
        <span style="color: #3b6fff">University</span>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="hero">
    <p class="greeting">Bem-vindo 👋</p>

    <h1>
      Explore universidades
      <span>pelo mundo todo</span>
    </h1>
  </div>

  <div class="search-section">
    <h3>BUSCAR POR PAÍS</h3>

    <ion-item>
      <ion-input
        placeholder="Ex: Brazil, United States..."
        [(ngModel)]="country"
      >
      </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="searchUniversities()">
      <ion-icon name="search-outline" slot="start"> </ion-icon>

      Buscar universidades
    </ion-button>
  </div>

  <div class="quick-access">
    <h2>Acesso rápido</h2>

    <ion-card button routerLink="/favorites">
      <ion-card-content>
        <div class="card-row">
          <div class="icon favorite">❤️</div>

          <div>
            <h3>Favoritos</h3>
            <p>Universidades salvas</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card button routerLink="/history">
      <ion-card-content>
        <div class="card-row">
          <div class="icon history">🕒</div>

          <div>
            <h3>Histórico</h3>
            <p>Pesquisas recentes</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card button routerLink="/about">
      <ion-card-content>
        <div class="card-row">
          <div class="icon about">ℹ️</div>

          <div>
            <h3>Sobre o projeto</h3>
            <p>Informações do app</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
