<ion-header>
  <ion-toolbar>
    <ion-title> Buscador de Universidades </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="País" labelPlacement="floating" [(ngModel)]="country">
    </ion-input>
  </ion-item>

<ion-button
  expand="block"
  class="ion-margin-top"
  (click)="searchUniversities()">

  <ion-icon
    name="search-outline"
    slot="start">
  </ion-icon>

  Buscar

</ion-button>

<h2 class="ion-padding-top">
  Menu
</h2>

<ion-card button routerLink="/favorites">

  <ion-card-header>
    <ion-card-title>
      ⭐ Favoritos
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Visualizar universidades favoritas
  </ion-card-content>

</ion-card>

<ion-card button routerLink="/history">

  <ion-card-header>
    <ion-card-title>
      🕒 Histórico
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Consultar pesquisas realizadas
  </ion-card-content>

</ion-card>

<ion-card button routerLink="/about">

  <ion-card-header>
    <ion-card-title>
      ℹ️ Sobre
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Informações do projeto
  </ion-card-content>

</ion-card>

  <ion-spinner *ngIf="loading" class="ion-margin-top"> </ion-spinner>

  <ion-list *ngIf="universities.length">
    <ion-item *ngFor="let university of universities">
      <ion-label>
        <h2>{{ university.name }}</h2>
        <p>{{ university.country }}</p>

        <a [href]="university.web_pages[0]" target="_blank">
          {{ university.web_pages[0] }}
        </a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
